<form method="POST" action="/prehistorics">
    <label for="creatureName">Name</label>
    <input type="text" id="creatureName" name="name">

    <label for="creatureImage">Image (URL)</label>
    <input type="text" id="creatureImage" name="img_url">

    <input type="submit">
</form>